<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobilelastfm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mobilelastfm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobilelastfm.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.ArtistsActivity"
            android:label="@string/title_activity_artists" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.ArtistInfoActivity"
            android:label="@string/title_activity_artist_info" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.ArtistTabActivity"
            android:label="@string/title_activity_artist_tab" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.ArtistAlbunsActivity"
            android:label="@string/title_activity_artist_albuns" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.ArtistEventsActivity"
            android:label="@string/title_activity_artist_events" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.example.mobilelastfm.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
    </application>

</manifest>